@import url(https://fonts.googleapis.com/css?family=Montserrat|Lato);


h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}


.app {
   height: 100%;
}

/* Nav stuff */
.nav {
  position: fixed;
  height: 120%;
  width: 15%;
  background-color: #2c3e50;
  color: white;
}

.nav h3 {
  text-align: center;
}

.nav .image-wrapper {
    height: auto;
    width: 60%;
    display: block;
    margin: auto;
}

.nav .image-wrapper img {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
}


/* Content stuff */
.content {
  height: 1200px;
  width: 80%;
  margin-left: 17%;
  display: inline-block;
}

.content .post-container {
  background-color: #ecf0f1;
  margin-top: 25px;
  width: 50%;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
}

.content .post-container form .post-title {
  width: 100%;
  line-height: 1.3rem;
}

.content .post-container form .post-content {
  width: 100%;
  line-height: 1.3rem;
  margin-top: 10px;
}

.content .post-container form input[type="submit"]{
    width: 150px;
    height: 35px;
    background-color: rgb(39, 174, 96);
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    margin-top: 10px;
}

.content .feed-container {
  width: 50%
}

.content .feed-container .feed-item {
  border: 2px solid rgba(228, 225, 224, .6);
  border-radius: 5px;
  margin: 15px 0;
  width: 100%;
  padding: 20px;
}

.content .feed-container .feed-item h4 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.content .feed-container .feed-item p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0px;
}



.signup-box {
  height: 350px;
  width: 50%;
  display: block;
  margin: auto;
}

.signup-box .form-box {
  display: block;
  margin: 200px auto 0 auto ;
  width: 80%;
  border: 4px solid #000;
  border-radius: 25px;
  box-shadow: 4px 4px 2px #888888;
}

.signup-box .form-box form {
  padding: 50px;
}

.signup-box .form-box h1 {
  position: inline-block;
  margin: 50px auto -50px auto;
  text-align: center;
}

.signup-box .form-box form .input-group {
  margin: 8px;
}

.signup-box .form-box form .input-group label {
  width: 20%;
  display: inline-block;
  text-align: right;
  padding-right: 6px;
}

.signup-box .form-box form .input-group input {
  width: 70%;
}

.signup-box .form-box form .buttons {
  display: block;
  margin: auto;
  padding: 10px;
  text-transform: uppercase;
  height:
}

.signup-box .form-box form .buttons #login {
  width: 20%;
  margin: 15px auto 0 auto;
  display: block;
  padding: 11px;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  background: #85f86d;
  background: linear-gradient(#85f86d, #aefa9e);
  border: none;
  font-size: 1.2rem;
  box-shadow: 4px 4px 2px #888888;
}

.signup-box .modal {
  position: absolute;
  background-color: rgba(0, 0, 0, .7)
  z-index: 100;
}

/*
.profile {
  height: 100px;
  width: 100px;
  border: 2px solid #ff751a;
}

.profile-div {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.profile-container {
   width: 280px;
  height: 200px;
  border: 1px solid white;
}
.profile-title {
  font-family: fantasy;
  font-size: 20px;
}

.nav {
  height: 1000px;
  width: 280px;
  background-color: #99bbff;
  position: fixed;
  top: -5px;
  left: -5px;
}

.post-title {
}

.content {
  width: 1000px;
  margin-left: 300px;
}*/

/*# sourceMappingURL=main.css.map */
