.profile {
  height: 100px;
  width: 100px;
  border: 2px solid #ff751a;
}

.profile-div {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.profile-container {
   width: 280px;
  height: 200px;
  border: 1px solid white;
}
.profile-title {
  font-family: fantasy;
  font-size: 20px;
}

.nav {
  height: 1000px;
  width: 280px;
  background-color: #99bbff;
  position: fixed;
  top: -5px;
  left: -5px;
}

.post-title {
}

.content {
  width: 1000px;
  margin-left: 300px;
}
